.card {
  border-radius: 4px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.14);
  background-color: #ffffff;
}

.header {
  display: flex;
  padding: 10px 8px;
}

.thumbnail {
  width: 42px;
  height: 42px;
  min-width: 42px;
  border-radius: 2px;
}

.headerData {
  margin-left: 10px;
}

.body {
  padding: 15px 10px;
}

.term {
  font-size: 14px;
  color: #999999;
}

.typeValue {
  font-size: 24px;
  font-weight: bold;
  color: purple;
}